html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: arial
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  z-index: 1;
  background: rgb(126, 126, 126);
  width: 100%;
  }

nav {
  display: flex;
  flex-direction: row;
  width: 96%;
  justify-content: flex-end;
  align-items: center;
  font-family: arial;
  font-size: 22px;
  height: 100%;
}

nav > ul {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-right: 45px;
}

a {
  text-decoration: none;
  color: black;
  padding: 23px 45px;
}
  
.nav-link1:hover {
  background: #2f312b;
  color: white;
}

.nav-link2:hover {
  background: olive;
}

.nav-link3:hover {
  background: #ae6200;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #000000, #3c4035);
  width: 100%;
  padding-top: 10vh;
  height: 100vh;
}

#welcome-section > h1 {
  color: white;
  margin: 0;
}

#below {
  font-family: arial, sans-serif;
  font-size: 26px;
  color: #ae6200;
}


.container {
  width: 100vw;
  overflow: hidden;
  margin-top: 50px;
}

.container > img {
  width: 100vw;
  filter: blur(7px);
  object-position: 0 -50px;
  
}

.text-wrapper {
  display: flex;
  flex: column;
  justify-content: center;
  width: 100%;
}

.text-wrapper p {
  width: 60vw;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-style: italic;
  margin-top: -800px;
  position: relative;
} 


#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: olive;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}


#projects > h3 {
  margin: 0;
}

#projects > p {
  font-family: arial, sans-serif;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 100px;
}

#video {
  margin-bottom: 180px;
  border: 4px solid black;
  background: black;
}

#Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ae6200;
  }

h1, h3 {
  font-size: 56px;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}

#profile-link {
  width: 300px;
}

#git {
  width: 200px;
  transition: transform 0.3s ease-out;
}

#git:hover {
  transform: translateY(8px);
}

/* For Navbar */
@media (max-width: 550px) {
  header {
    justify-content: center;
  }
  nav {
    justify-content: center;
  }
  a {
    padding: 12px;
  }

}