html {
  scroll-behavior: smooth;
}

body {
  background:#ae6200;
  font-family: arial
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  z-index: 1;
  background: rgb(126, 126, 126);
  width: 100%;
  }

nav {
  display: flex;
  flex-direction: row;
  width: 96%;
  justify-content: flex-end;
  align-items: center;
  font-family: arial;
  font-size: 22px;
  height: 100%;
}

nav > ul {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-right: 45px;
}

a {
  text-decoration: none;
  color: black;
  padding: 23px 45px;
}
  
.nav-link1:hover {
  background: #2f312b;
  color: white;
}

.nav-link2:hover {
  background: olive;
}

.nav-link3:hover {
  background: #ae6200;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}


.first-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 300px;
  padding-top: 80px;
  background: linear-gradient(90deg, #000000, #3c4035);
}

.first-panel > h1 {
  color: white;
  margin: 0;
}

#below {
  font-family: arial, sans-serif;
  font-size: 26px;
  color: #ae6200;
}


.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: url(images/desktest.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.container p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 75vw;
  font-style: italic;
  font-size: 20px;
  margin: 55px auto;
}

.web-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.video-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.web-icons {
  width: 95px;
  transition: transform 0.3s ease-out;
}

.web-icons:hover {
  transform: scale(1.1);
}


#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: olive;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}


#projects > h3 {
  margin: 0;
}

#projects > p {
  font-family: arial, sans-serif;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 100px;
}

#video {
  margin-bottom: 180px;
  border: 4px solid black;
  background: black;
}

#Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ae6200;
  }

h1, h3 {
  font-size: 56px;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#git-icon  {
  width: 250px;
}

#linked-icon {
  width: 100px;
}

#gmail-icon {
  width: 135px;
}

.icons {
  transition: transform 0.3s ease-out;
}

.icons:hover {
  transform: translateY(8px);
}


@media (max-width: 700px) {
  nav  {
    justify-content: center;
  }
}