html {
  scroll-behavior: smooth;
}

body {
  background:#ae6200;
  font-family: arial
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  z-index: 1;
  background: rgb(126, 126, 126);
  width: 100%;
  }

nav {
  display: flex;
  flex-direction: row;
  width: 96%;
  justify-content: flex-end;
  align-items: center;
  font-family: arial;
  font-size: 22px; 
  height: 100%;
}

nav > ul {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-right: 45px;
}

a {
  text-decoration: none;
  color: black;
  padding: 23px 45px;
}
  
.nav-link1:hover {
  background: #2f312b;
  color: white;
}

.nav-link2:hover {
  background: olive;
}

.nav-link3:hover {
  background: #ae6200;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}


.first-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 300px;
  padding-top: 80px;
  background: linear-gradient(90deg, #000000, #3c4035);
}

.first-panel > h1 {
  color: white;
  margin: 0 auto;
}

#below {
  font-family: arial, sans-serif;
  font-size: 26px;
  color: #ae6200;
}

#resume {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
  outline: 4px solid #ae6200;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 30px;
}

#resume:hover {
  color: #000000;
  background-color: #ae6200;
}


.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: url(images/desktest.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.container p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 75vw;
  font-style: italic;
  font-size: 20px;
  margin: 55px auto;
}

.web-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.video-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.web-icons {
  width: 95px;
  transition: transform 0.3s ease-out;
}

.web-icons:hover {
  transform: scale(1.1);
}


#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: olive;
  width: 100%;
  height: 100vh;
}

#container-two {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

#container-two > h3 {
  padding-top: 25px;
  margin-top: 100px;
}

#container-two > p {
  font-family: arial, sans-serif;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
}

#video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}


#Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #ae6200;
  }


.container-three {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }

.container-three h3 {
  padding-top: 25px;
  margin-top: 100px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 60px;
  margin-left: 120px;
  margin-right: 120px;
}

#git-icon {
  width: 200px;
}

#linked-icon {
  width: 85px;
}

#gmail-icon {
  width: 115px;
}

.icons {
  z-index: 2000;
  position: relative;
  transition: transform 0.3s ease-out;
}

.icons:hover {
  transform: translateY(8px);
}

h1, h3 {
  font-size: 56px;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}



@media only screen and (max-width: 670px) {


  nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: arial;
    font-size: 16px;
  }
  
  nav > ul {
    width: 100%;
    justify-content: space-around;
    padding-right: 0;
  }
  
  a {
    padding: 15px;
  }

  #name-label {
    margin-top: 100px;
    font-size: 48px;
  }
  .first-panel {
    padding-top: 80px;
  }

  #resume {
    margin-bottom: 90px;
  }

  #below {
    text-align: center;
  }


  .container p {
    width: 95vw;
    margin: 35px auto;
  }

  .web-icon-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  
  .video-icon-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 25px;
  }


  #projects {
    padding: 0;
    margin-top: 0;
  }


  #container-two > p {
    margin-bottom: 50px;
    margin-top: 5px;
  }
  
  #container-two > h3 {
    margin-bottom: 20px;
  }

  #my-projects {
    font-size: 48px;
  }
  
  .web-icons {
    width: 50px;
  }


.container-three h3 {
  font-size: 52px;
  padding-top: 25px;
  margin-top: 100px;
  margin-bottom: 0;
}


  .contact-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin-top: 0;
  }

}